@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TickUp.Models.Evento>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylehome.css">

    <title>TickUp</title>
</head>

<body>
    
    <main>

        <!---------------------CATEGORIAS--------------------->


        <div class="mom-categorias">
            <h3 id="title-categoria">Se joga,  viver é agora!</h3>
            <div class="categorias">
                <div class="categoria-item">
                    <img src="/images/festa_icon.png" alt="">
                    <h6 class="shows-text">shows e festas</h6>
                </div>
                <div class="categoria-item">
                    <img src="/images/gastro_icon.png" alt="">
                    <h6 class="restaurantes-text">restaurantes</h6>
                </div>
                <div class="categoria-item">
                    <img src="/images/palestra_icon.png" alt="">
                    <h6 class="palestras-text">palestras</h6>
                </div>
                <div class="categoria-item">
                    <img src="/images/stand_icon.png" alt="">
                    <h6 class="stand-text">stand up</h6>
                </div>
                <div class="categoria-item">
                    <img src="/images/teatro_icon.png" alt="">
                    <h6 class="teatros-text">teatros</h6>
                </div>
            </div>
        </div>



        <!---------------------SLIDER EVENTOS CARDS EVENTOS------------------------>



        <div class="slider_cards">
            <h3>Eventos mais vistos nas últimas 24h 👀</h3>
            <div class="slides_cards">
                <!--radio buttons-->
                <input type="radio" name="radio-btn-min" id="radio1-min">
                <input type="radio" name="radio-btn-min" id="radio2-min">
                <input type="radio" name="radio-btn-min" id="radio3-min">
                <input type="radio" name="radio-btn-min" id="radio4-min">
                <!--fim radio buttons-->
                <!--slide images-->

                @{
                    //var url = Url.Action("ActionName", "ControllerName", new { id = item.Id });
                }

                @foreach(var item in Model)
                {
                    string formato = "data:image/jpeg;base64," + Convert.ToBase64String(item.BytesImagem);
                    
                    <div class="card first">
                        <div class="card-image"> <img class="img_evento_min" src=@formato alt=""> </div>
                        <div class="data">
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </div>
                        <div class="heading">
                            @Html.DisplayFor(modelItem => item.NomeEvento)
                                @Html.ActionLink("Evento/MostrarEvento", "MostrarEvento", new { id = item.IdEvento })

                            <div class="author">  <span class="name"> @Html.DisplayFor(modelItem => item.NomeLocal) </span> </div>
                        </div>
                    </div>
                    
                }


                <div class="card">
                    <div class="card-image"> <img class="img_evento_min" src="/images/img2.jpg" alt=""> </div>
                    <div class="data"> Data do evento </div>
                    <div class="heading">
                        Nome do evento
                        <div class="author">  <span class="name">Local do evento</span> </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image"> <img class="img_evento_min" src="/images/img2.jpg" alt=""> </div>
                    <div class="data"> Data do evento </div>
                    <div class="heading">
                        Nome do evento
                        <div class="author">  <span class="name">Local do evento</span> </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image"> <img class="img_evento_min" src="/images/img2.jpg" alt=""> </div>
                    <div class="data"> Data do evento </div>
                    <div class="heading">
                        Nome do evento
                        <div class="author">  <span class="name">Local do evento</span> </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image"> <img class="img_evento_min" src="/images/img2.jpg" alt=""> </div>
                    <div class="data"> Data do evento </div>
                    <div class="heading">
                        Nome do evento
                        <div class="author">  <span class="name">Local do evento</span> </div>
                    </div>
                </div>

                

                <!--fim slide images-->
                <!--navigation auto-->
                <div class="navigation-auto-min">
                    <div class="auto-btn1-min"></div>
                    <div class="auto-btn2-min"></div>
                    <div class="auto-btn3-min"></div>
                    <div class="auto-btn4-min"></div>
                </div>

            </div>

            <div class="manual_navigation-min">
                <label for="radio1-min" class="manual-btn-min"></label>
                <label for="radio2-min" class="manual-btn-min"></label>
                <label for="radio3-min" class="manual-btn-min"></label>
                <label for="radio4-min" class="manual-btn-min"></label>
            </div>

        </div>



        <!---------------------SLIDER EVENTOS PRINCIAPAIS--------------------->



        <div class="mom-slider">
            <h3 class="eventos-destaque">Eventos em destaque na TickUp</h3>
            <div class="slider">

                <div class="slides">
                    <!--radio buttons-->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!--fim radio buttons-->
                    <!--slide images-->

                    <div class="slide first">
                        <img src="/images/img1.jpg" alt="">
                    </div>
                    <div>
                        <div class="descricao-data"> Data do evento </div>
                        <h4 class="descricao"> Rock in Rio </h4>
                        <br>
                        <br>
                        <p class="descricao-d">Pria da barra</p>
                    </div>
                    <div class="slide">
                        <img src="/images/img2.jpg" alt="">
                    </div>
                    <div>
                        <div class="descricao-data"> Data do evento </div>
                        <h4 class="descricao"> Rock in Rio </h4>
                        <br>
                        <br>
                        <p class="descricao-d">Pria da barra</p>
                    </div>
                    <div class="slide">
                        <img src="/images/img3.jpg" alt="">
                    </div>
                    <div>
                        <div class="descricao-data"> Data do evento </div>
                        <h4 class="descricao"> Rock in Rio </h4>
                        <br>
                        <br>
                        <p class="descricao-d">Pria da barra</p>
                    </div>
                    <div class="slide">
                        <img src="/images/img4.jpg" alt="">
                    </div>
                    <div>
                        <div class="descricao-data"> Data do evento </div>
                        <h4 class="descricao"> Rock in Rio </h4>
                        <br>
                        <br>
                        <p class="descricao-d">Pria da barra</p>
                    </div>
                    <!--fim slide images-->
                    <!--navigation auto-->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="manual_navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

</body>
</html>




