body {
    height: 100%;
}

#nav-link {
    color: #339989;
}

    #nav-link:hover {
        color: #7DE2D1;
    }

#btn {
    color: #339989;
    background-color: #FFFAFB;
    border-color: #339989;
}

    #btn:hover {
        color: #339989;
        background-color: #7DE2D1;
        border-color: #339989;
    }



#titulo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
}

a {
    text-decoration: none;
}


.menuVertical {
    z-index: 10;
}
#listaItens ul li  {
    width: 150px;
}


footer {
    margin-top: 0 auto;
    position: relative;
    bottom: 0;
    left: 38%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
