body {
    height: 2000px;
}

#titulo {
    margin-left: 20px;
}

footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 35%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
